<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="w1-verification" content="138194063012" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/animate.min.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet"
          type="text/css">
    <title>Box-fun</title>
	<meta property="og:url"           content="http://box-fun.ru"/>
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="BOX-FUN - оригинальные футболки и толстовки с индивидуальным дизайном каждый месяц!" />
    <meta property="og:description"   content="Теперь у каждого в РФ есть возможность воспользоваться таким классым сервисом! Для заказа надо сделать три простых действия. 
    Первое, выбрать на сайте футболку или толстовку. Второе, выбрать тему и размер. Третье, оплатить. Profit! С этого дня вы в трэнде! Самые актуальные принты месяца в вашем гардеробе!" />
    <meta property="og:image"         content="http://box-fun.ru/static/img/logo_black.png" />
</head>
<body>
<div class="bg_1">
    <div class="container">
        <div class="header">
            <div class="navigation">
                <nav>
                    <a href="#certificate">Сертификат</a>
                    <a href="#how">Как заказать</a>
                    <a href="#reviews">Отзывы</a>
                </nav>
            </div>
            <div class="logo">
                <div class="logo_img"> </div>
            </div>
            <div class="contact">
                <div class="text_contact">
                    <div class="tel">8 (985) 211-48-28</div>
                    <div class="text">
                        <i class="fa fa-phone"></i>
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-phone">Заказать обратный
                            звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">Получайте оригинальные футболки и толстовки с индивидуальным дизайном каждый месяц!</div>
        <div class="small_title">
            <div class="line"></div>
            <div class="text_small_title">Будь оригинальным каждый месяц всего за 1333 руб.</div>
            <div class="line"></div>
        </div>
        <div class="triggers">
            <div class="trigger">
                <div class="img_trigger"><img src="{{ STATIC_URL }}img/star.png"></div>
                <div class="text_trigger">Уникальные дизайны</div>
            </div>
            <div class="trigger">
                <div class="img_trigger"><img src="{{ STATIC_URL }}img/hanger.png"></div>
                <div class="text_trigger">Приятное качество ткани и материалов</div>
            </div>
            <div class="trigger">
                <div class="img_trigger"><img src="{{ STATIC_URL }}img/car.png"></div>
                <div class="text_trigger">Бесплатная доставка по всей России</div>
            </div>
        </div>
        <!--<div class="more_info">
            <button data-toggle="modal" data-target=".bs-example-modal-text" type="button"
                    class="btn btn-primary fun_button">Подробнее
            </button>
        </div>-->
    </div>
</div>
<div class="separator"></div>
<div class="bg_2">
    <div class="container">
        <div class="title_header">
            <h1 class="white">Что такое Box-fun?</h1>
        </div>
        <div class="container_bg_2">
            <div class="left">
                <div class="top_left">
                    <div class="text">Новый и <b>необычный</b> вид сюрприза, предназначенный для повседневной жизни
                    </div>
                    <div class="img"><img src="{{ STATIC_URL }}img/ico_1.png"></div>
                </div>
                <div class="bottom_left">
                    <div class="text">Вся одежда изготовлена из <b>натуральных и приятных</b> на ощупь материалов
                    </div>
                    <div class="img"><img src="{{ STATIC_URL }}img/ico_2.png"></div>
                </div>
            </div>
            <div class="center">
                <div class="girl"><img src="{{ STATIC_URL }}img/girl.png"></div>
            </div>
            <div class="right">
                <div class="top_right">
                    <div class="img"><img src="{{ STATIC_URL }}img/ico_3.png"></div>
                    <div class="text"><b>Главная изюминка</b> - Вы не будете знать, какой дизайн футболки/худи получите в
                        посылке
                    </div>
                </div>
                <div class="bottom_right">
                    <div class="img"><img src="{{ STATIC_URL }}img/ico_4.png"></div>
                    <div class="text"><b>Гарантируем, что Вам понравится!</b> Или без вопросов обменяем на другой дизайн
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="bg_3">
    <div class="container">
        <div class="title_header">
            <h2 class="red">
                Выберите свой box-fun прямо сейчас, оставьте контакты и наш менеджер свяжется с вами
            </h2>

        </div>
        <div class="container_bg_3">
            <div class="item">
                <div class="box">
                    <div class="img_item">
                        <div class="box_item">
                            <div class="img_t-shirt"><img src="{{ STATIC_URL }}img/item_1.png"></div>
                            <div class="img_sweatshirt"><img src="{{ STATIC_URL }}img/item_2.png"></div>
                            <div class="free"><img src="{{ STATIC_URL }}img/free.png"></div>
                        </div>
                    </div>
                    <div class="body_item">
                        <h3>Подписка на 3 месяца</h3>

                        <div class="switch">
                            <div class="t-shirt">
                                <div class="img_wrapper_t-shirt"></div>
                                <span class="black_text">Футболка</span>
                            </div>
                            <div class="key">
                                <input type="checkbox" id="checkbox1" class="checkbox costume">
                                <label for="checkbox1"></label>
                            </div>
                            <div class="sweatshirt">
                                <div class="img_wrapper_sweatshirt"></div>
                                <span class="grey_text">Толстовка</span>
                            </div>
                        </div>
                        <h2 class="sum_t-shirt">{{ price.t_shirt_order_one }} руб</h2>
                        <h2 class="sum_sweatshirt">{{ price.sweatshirt_order_one }} руб</h2>

                        <div class="more_info">
                            <button data-toggle="modal" data-target=".bs-example-modal-lg" type="button"
                                    class="btn btn-primary fun_button order_button" id="0">Заказать
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="img_item">
                        <div class="box_item">
                            <div class="img_t-shirt"><img src="{{ STATIC_URL }}img/item_1.png"></div>
                            <div class="img_sweatshirt"><img src="{{ STATIC_URL }}img/item_2.png"></div>
                            <div class="free"><img src="{{ STATIC_URL }}img/free.png"></div>
                        </div>
                    </div>
                    <div class="body_item">
                        <h3>Подписка на 6 месяцев</h3>

                        <div class="switch">
                            <div class="t-shirt">
                                <div class="img_wrapper_t-shirt"></div>
                                <span class="black_text">Футболка</span>
                            </div>
                            <div class="key">
                                <input type="checkbox" id="checkbox2" class="checkbox costume">
                                <label for="checkbox2"></label>
                            </div>
                            <div class="sweatshirt">
                                <div class="img_wrapper_sweatshirt"></div>
                                <span class="grey_text">Толстовка</span>
                            </div>
                        </div>
                        <h2 class="sum_t-shirt">{{ price.t_shirt_order_two }} руб</h2>
                        <h2 class="sum_sweatshirt">{{ price.sweatshirt_order_two }} руб</h2>

                        <div class="more_info">
                            <button data-toggle="modal" data-target=".bs-example-modal-lg" type="button"
                                    class="btn btn-primary fun_button order_button" id="1">Заказать
                            </button>
                        </div>
                    </div>
                    <div class="present"><img src="{{ STATIC_URL }}img/present.png">+ подарок</div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="img_item">
                        <div class="box_item">
                            <div class="img_t-shirt"><img src="{{ STATIC_URL }}img/item_1.png"></div>
                            <div class="img_sweatshirt"><img src="{{ STATIC_URL }}img/item_2.png"></div>
                            <div class="free"><img src="{{ STATIC_URL }}img/free.png"></div>
                        </div>
                    </div>
                    <div class="body_item">
                        <h3>Подписка на 12 месяцев</h3>

                        <div class="switch">
                            <div class="t-shirt">
                                <div class="img_wrapper_t-shirt"></div>
                                <span class="black_text">Футболка</span>
                            </div>
                            <div class="key">
                                <input type="checkbox" id="checkbox3" class="checkbox costume">
                                <label for="checkbox3"></label>
                            </div>
                            <div class="sweatshirt">
                                <div class="img_wrapper_sweatshirt"></div>
                                <span class="grey_text">Толстовка</span>
                            </div>
                        </div>
                        <h2 class="sum_t-shirt">{{ price.t_shirt_order_three }} руб</h2>
                        <h2 class="sum_sweatshirt">{{ price.sweatshirt_order_three }} руб</h2>

                        <div class="more_info">
                            <button data-toggle="modal" data-target=".bs-example-modal-lg" type="button"
                                    class="btn btn-primary fun_button order_button" id="2">Заказать
                            </button>
                        </div>
                    </div>
                    <div class="present"><img src="{{ STATIC_URL }}img/present.png">+ подарок</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="certificate" class="bg_4">
    <div class="container">
        <div class="container_bg_4">
            <div class="certificate"><img src="{{ STATIC_URL }}img/certificate.png"></div>
            <div class="description_certificate">
                <div class="border_description">
                    <div class="title_description">
                        <h2 class="white">Подарочный сертификат</h2>
                    </div>
                    <div class="text_description">Сделай подарок для своего друга или подруги! Подари подарочный сертификат с помощью которого они смогут бесплатно заказать футболку или толстовку на нашем сайте. Оставьте свои контакты и мы с вами свяжемся!
                    </div>
                    <div class="button">
                        <button data-toggle="modal" data-target=".bs-example-modal-ser" type="button"
                                class="btn btn-primary fun_button">Заказать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="how" class="bg_5">
    <div class="container">
        <div class="title_header">
            <h2 class="red">Как сделать заказ</h2>
        </div>
        <div class="container_bg_5">
            <div class="steps">
                <div class="box_step">
                    <div class="circles">
                        <div class="circle_step">
                            <div class="internal_step"><img src="{{ STATIC_URL }}img/step_1.png"></div>
                        </div>
                    </div>
                    <div class="text_step">Выбираете тип Box-fun и вводите своё имя и телефон</div>
                </div>
                <div class="vector_steps"><img src="{{ STATIC_URL }}img/vector_bown.png"></div>
                <div class="vector_steps_small"><i class="fa fa-angle-double-down"></i></div>
                <div class="box_step">
                    <div class="circles">
                        <div class="circle_step">
                            <div class="internal_step"><img src="{{ STATIC_URL }}img/step_2.png"></div>
                        </div>
                    </div>
                    <div class="text_step">Оплачиваете он-лайн любым удобным для Вас способом</div>
                </div>
                <div class="vector_steps up">
                    <div class="img_wrapper"><img src="{{ STATIC_URL }}img/vector_up.png"></div>
                </div>
                <div class="vector_steps_small"><i class="fa fa-angle-double-down"></i></div>
                <div class="box_step">
                    <div class="circles">
                        <div class="circle_step">
                            <div class="internal_step"><img src="{{ STATIC_URL }}img/step_3.png"></div>
                        </div>
                    </div>
                    <div class="text_step">Наш менеджер связывается с Вами для уточнения деталей заказа</div>
                </div>
                <div class="vector_steps"><img src="{{ STATIC_URL }}img/vector_bown.png"></div>
                <div class="vector_steps_small"><i class="fa fa-angle-double-down"></i></div>
                <div class="box_step">
                    <div class="circles">
                        <div class="circle_step">
                            <div class="internal_step"><img src="{{ STATIC_URL }}img/step_4.png"></div>
                        </div>
                    </div>
                    <div class="text_step">Доставка посылки на Ваш адрес</div>
                </div>
            </div>
        </div>
        <div class="change_pay">
            <div class="pay_1">
                <div class="img_pay">
                    <div class="img_wrapper"><img src="{{ STATIC_URL }}img/money.png"></div>
                </div>
                <div class="text_pay">
                    <h2>Способы оплаты:</h2><img src="{{ STATIC_URL }}img/pay.png">
                </div>
            </div>
            <div class="pay_2">
                <div class="img_pay">
                    <div class="img_wrapper"><img src="{{ STATIC_URL }}img/box.png"></div>
                </div>
                <div class="text_pay">
                    <h2>Бесплатная доставка:</h2>

                    <div class="post_office"><img src="{{ STATIC_URL }}img/post_office.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="reviews" class="bg_6">
    <div class="container">
        <div class="title_header">
            <h1 class="white">Отзывы клиентов</h1>
        </div>
        <div class="container_bg_6">
            <div class="comment">
                <div class="img_wrapper"><img src="{{ STATIC_URL }}img/user_1.png"></div>
                <div class="text_comment">
                    <h3>Сергей</h3>«Спасибо за креатив, в США было классно с таким принтом»
                </div>
            </div>
            <div class="comment">
                <div class="img_wrapper"><img src="{{ STATIC_URL }}img/user_2.png"></div>
                <div class="text_comment">
                    <h3>Дмитрий</h3>«Спасибо за быструю доставку и качество футболки»
                </div>
            </div>
            <div class="comment">
                <div class="img_wrapper"><img src="{{ STATIC_URL }}img/user_3.png"></div>
                <div class="text_comment">
                    <h3>Слава</h3>«Просто огонь! С таким принтом сталеще счастливее»
                </div>
            </div>
            <div class="comment">
                <div class="img_wrapper"><img src="{{ STATIC_URL }}img/user_4.png"></div>
                <div class="text_comment">
                    <h3>Анна</h3>«На отдыхе все просили продать футболку, стала клиентом навсегда»
                </div>
            </div>
        </div>
        <div class="more_info">
            <div class="button">
                <button data-toggle="modal" data-target=".bs-example-modal-review" type="button"
                        class="btn btn-primary fun_button">Оставить отзыв
                </button>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="bg_7">
    <div class="container">
        <div class="title_header">
            <h2 class="red">Остались дополнительные вопросы?</h2>
        </div>
        <div class="more_info">
            <div class="button">
                <button data-toggle="modal" data-target=".bs-example-modal-question" type="button"
                        class="btn btn-primary fun_button">Задать вопрос менеджеру
                </button>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="bg_8">
    <div class="container">
        <div class="container_bg_8">
            <div class="left_footer">
                <div class="navigation_footer">
                    <nav>
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sec">Безопасность</a>
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-contract">Договор оферты</a>
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-contact">Контакты</a>
                    </nav>
                </div>
                <div class="social">
                    <div class="title_social">Все интересное:</div>
                    <div class="icons_social">
                        <div class="vk"><a href="https://vk.com/boxfunru"><i class="fa fa-vk"></i></a></div>
                        <div class="facebook"><a href="https://www.facebook.com/groups/Boxfun/"><i class="fa fa-facebook"></i></a></div>
                        <div class="instagram"><a href="https://instagram.com/boxfunru/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="logo_footer"><img src="{{ STATIC_URL }}img/logo_black.png"></div>
            <div class="contact_footer">
                <div class="text_contact">
                    <div class="tel">8 (985) 211-48-28</div>
                    <div class="text"><i class="fa fa-phone"></i><a href="#" data-toggle="modal"
                                                                    data-target=".bs-example-modal-phone">Заказать
                        обратный звонок</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Форма для заказа товара #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="fa fa-close"></i>
                </button>
                <h2 class="modal_title">Подписка на <span id="order_title"></span></h2>
            </div>
            <div class="modal-body">
                <form method="post" action="https://wl.walletone.com/checkout/checkout/Index" id="wallet_one_form">
                    {% for name, value in wmi_form.iteritems %}
                        {% ifequal name 'csrfmiddlewaretoken' %}
                            <input name="{{ name }}" value="{{ csrf_token }}" type="hidden">
                        {% else %}
                            <input name="{{ name }}" value="{{ value }}" type="hidden">
                        {% endifequal %}
                    {% endfor %}
                    <input name="WMI_SIGNATURE" value="" type="hidden">
                </form>
                <form method="post" id="order_form">
                    {% csrf_token %}
                    <input type="hidden" value="order_form" name="form_type">
                    <input name="order_type" value="" type="hidden">
                    <div class="change">
                        <div class="box_step">
                            <div class="switch">
                                <div class="t-shirt">
                                    <div class="img_wrapper_t-shirt"></div>
                                    <span class="grey_text">Футболка</span>
                                </div>
                                <div class="key">
                                    <input type="checkbox" id="checkbox4" class="checkbox" name="costume">
                                    <label for="checkbox4"></label>
                                </div>
                                <div class="sweatshirt">
                                    <div class="img_wrapper_sweatshirt"></div>
                                    <span class="black_text">Толстовка</span>
                                </div>
                            </div>
                        </div>
                        <div class="box_step">
                            <div class="switch">
                                <div class="t-shirt">
                                    <div class="img_wrapper_man"></div>
                                    <span class="grey_text">Мужчина</span>
                                </div>
                                <div class="key">
                                    <input type="checkbox" id="checkbox5" class="checkbox" name="sex">
                                    <label for="checkbox5"></label>
                                </div>
                                <div class="sweatshirt">
                                    <div class="img_wrapper_woman"></div>
                                    <span class="black_text">Женщина</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <div class="theme_header">
                            <h3>{{ order_form.theme.label }}:</h3>
                        </div>
                        {% for c in order_form.theme %}
                            <div class="theme_view">
                                {{ c }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="m_w">
                        <div class="theme_header">
                            <h3>{{ order_form.size.label }}</h3>
                            {{ order_form.size }}
                        </div>
                    </div>
                    <div class="cont">
                        <div class="fio">
                            {{ order_form.name }}
                        </div>
                        <div class="telephone">
                            {{ order_form.contacts }}
                        </div>
                    </div>
                    <div class="more_info">
                        <div class="button">
                            <button data-toggle="modal" data-target=".bs-example-modal" type="submit"
                                    class="btn btn-primary ordering fun_button order_send_button">Оплатить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i
                            class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="thanks">
                        <h2 class="white">Спасибо!</h2><br>
                        <h3 class="modal_title">
                            Спасибо! Мы приняли вашу заявку. Сейчас мы перенаправим вас на страницу оплаты подписки.
                            <!--Ваша заявка отправлена. Мы свяжемся с Вами в течение 5 минут-->
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-text">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i
                            class="fa fa-close"></i></button>
                    <h2 class="modal_title">Заголовок</h2>
                    <hr>
                </div>
                <div class="modal-body">
                    <p>Id key raptorize it. Class variable Silicon Valley. Love argument illustrator. Run our code when
                        the form is submitted inspector script. GitHub header give yourself an auto high-five. Mac
                        Christopher stoked. Jpg cascade cool. Prepend sketch return. Hooli index GitHub. Wes sketch
                        error. JavaScript append paragraph. Team team Gulp. Script Gulp coffee. Syntactically awesome
                        party argument. I'll refactor you section team. Animate value animate. Pied Piper lab software.
                        Haris front-end Christopher. Back-end index I'll refactor you. Software I'll refactor you Ryan.
                        Value variable people. Parameter header Mac. Sketch error Sass. Paragraph hypertext function.
                        Run our code when the form is submitted photoshop Heather. Div jQuery console. Team return
                        inspector. T-Swift photoshop div. Rad method Pied Piper. Sick scrolling marquee CSS3 png. Uncle
                        Drew header Sketch. Uncle Drew let's go surfin' now everybody's learnin' how stoked. Key
                        photoshop Haris. Script.</p>

                    <p>
                        Id key raptorize it. Class variable Silicon Valley. Love argument illustrator. Run our code when
                        the form is submitted inspector script. GitHub header give yourself an auto high-five. Mac
                        Christopher stoked. Jpg cascade cool. Prepend sketch return. Hooli index GitHub. Wes sketch
                        error. JavaScript append paragraph. Team team Gulp. Script Gulp coffee. Syntactically awesome
                        party argument. I'll refactor you section team. Animate value animate. Pied Piper lab software.
                        Haris front-end Christopher. Back-end index I'll refactor you. Software I'll refactor you Ryan.
                        Value variable people. Parameter header Mac. Sketch error Sass. Paragraph hypertext function.
                        Run our code when the form is submitted photoshop Heather. Div jQuery console. Team return
                        inspector. T-Swift photoshop div. Rad method Pied Piper. Sick scrolling marquee CSS3 png. Uncle
                        Drew header Sketch. Uncle Drew let's go surfin' now everybody's learnin' how stoked. Key
                        photoshop Haris. Script.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Безопастность #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-sec">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i
                            class="fa fa-close"></i></button>
                    <h2 class="modal_title">Безопастность</h2>

                </div>
                <div class="modal-body">
                    <div class="more_text">
                    <h3>Платежи. Оплата банковской картой онлайн</h3>

                    <p>Наш сайт подключен к интернет-эквайрингу Wallet One и Вы можете оплатить Товар банковской картой Visa или Mastercard. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра Wallet One, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.&nbsp;</p>

                    <h3>Безопасен ли &laquo;Единый кошелек&raquo; Wallet One?</h3>
                        <p>Платежная система Wallet One лицензируема надзорным органом в каждой стране присутствия, а значит, полностью безопасна. Wallet One использует стандарт безопасности PCI DSS, SSL-протокол, системы безопасности Verified by Visa и MasterCard SecureCode.<br />
                        PCI DSS &mdash; международный стандарт безопасности, разработанный Советом по стандартам безопасности индустрии платежных карт (Payment Card Industry Security Standards Council). Представляет собой 12 требований к построению и обслуживанию безопасных систем и принят крупнейшими международными платежными системами. Wallet One ежегодно проходит тестирование на соответствие стандарту PCI DSS.<br />
                        SSL-протокол (Secure Sockets Layer) &mdash; криптографический транспортный механизм, обеспечивающий безопасность передачи данных.<br />
                        Verified by Visa &mdash; технология дополнительной защиты при проведении платежей, разработанная платежной системой Visa.<br />
                        MasterCard SecureCode &mdash; дополнительная защита при проведении платежей с банковских карт MasterCard.<br />
                        А еще мы используем антифрод-систему, предназначенную для выявления мошеннических платежей. Это делает Wallet One удобной и безопасной платежной системой для всех, кроме мошенников.</p>

                    <p><b>Конфиденциальность</b></p>

                    <p>Федеральный закон РФ № 152-ФЗ &laquo;О персональных данных&raquo; &mdash; федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.&nbsp;<br />
                        <p>1. Определения<br/>
                        Интернет проект http:/box-fun.ru/ (далее &ndash; URL, &laquo;мы&raquo;) серьезно относится к
                        вопросу конфиденциальности информации своих клиентов и посетителей сайта http://box-fun.ru//
                        (далее &ndash; &laquo;вы&raquo;, &laquo;посетители сайта&raquo;).
                        Персонифицированной мы называем информацию, содержащую персональные данные
                        (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях совершаемых вами
                        на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные,
                        которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости
                        сайта).</p>
                        <p> 2. Использование информации<br />
                        Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного
                            оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям
                            сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам
                            Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам
                            предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты,
                            построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было
                            бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные
                            данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL</p>
                        <p> 3. Ссылки<br />
                        Сайт <a href="http://box-fun.ru//">http://box-fun.ru//</a> может содержать ссылки на другие сайты, не имеющие отношения
                            к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность
                            сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности
                            информации, оставленной вами на таких сайтах.</p>
                        <p> 4. Ограничение ответственности<br />
                        Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать
                            сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых
                            станет раскрытие информации. Сайт http://box-fun.ru// и вся размещенная на нем информация представлены по
                            принципу &laquo;как есть&raquo; без каких-либо гарантий. Мы не несем ответственности за неблагоприятные
                            последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие
                            посещения сайта и использования размещенной на нем информации.</p>

                    <p>5. Контакты<br />
                        По вопросам, касающимся настоящей политики, просьба обращаться по адресу <a href="mailto:info@box-fun.ru/">info@box-fun.ru/</a></p>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{# Договор оферты #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-contract">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i
                            class="fa fa-close"></i></button>
                    <h2 class="modal_title">Договор публичной оферты</h2>

                </div>
                <div class="modal-body">
                    <div class="more_text">
                    <h3>1.Общие положения</h3>

                    <p>1.1. ООО «Онза.Ме», далее «Исполнитель», публикует Публичную оферту об оказании услуг по доставке товаров соответствии с Перечнем услуг Исполнителя (Прейскурантом), опубликованным на официальном интернет-сайте Исполнителя<a href="http://http://box-fun.ru/"> http://box-fun.ru/</a><br />
                        1.2. В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (ГК РФ) данный документ является публичной офертой, и, в случае принятия изложенных ниже условий лицо, производящее акцепт данной оферты, оформляет заявку на услуги Исполнителя с помощью интернет-сайта Исполнителя по адресу &laquo;<a href="http://box-fun.ru/">http://box-fun.ru/</a>&raquo; и/или осуществляет оплату услуг Исполнителя в соответствии с условиями настоящего Договора. В соответствии с пунктом 3 статьи 438 ГК РФ, акцепт настоящей Публичной оферты одним из вышеназванных способов считается равносильным заключению Договора на условиях, изложенных в оферте.<br />
                        1.3. На основании вышеизложенного, внимательно ознакомьтесь с текстом публичной оферты, и если вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от заказа Услуг, предоставляемых Исполнителем.<br />
                        1.4. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения: &laquo;Публичная оферта&raquo; &ndash; публичное предложение Исполнителя, адресованное любому физическому лицу (гражданину), заключить с ним договор оказания услуг (далее &ndash; &laquo;Договор&raquo;) на существующих условиях, содержащихся в Договоре, включая все его приложения. &laquo;Заказчик&raquo; &ndash; физическое лицо, заключившее с Исполнителем Договор на условиях, содержащихся в настоящей Публичной оферте. &laquo;Акцепт&raquo; &ndash; полное и безоговорочное принятие Заказчиком условий настоящей публичной оферты. Акцептом настоящей Публичной оферты является оформление Заказчиком заявки на интернет-сайте Исполнителя &laquo;<a href="http://http://box-fun.ru/">http://box-fun.ru/</a>&raquo;, либо оплата Заказчиком услуг Исполнителя - в зависимости от того, какой из вышеуказанных юридических фактов произошел раньше. &laquo;Заказ&raquo; &ndash; отдельные позиции из перечня услуг Исполнителя, указанные Заказчиком при оформлении заявки на интернет-сайте Исполнителя.&nbsp;</p>

                    <h3>2. Предмет договора</h3>

                    <p>2.1. Исполнитель обязуется оказать Заказчику услуги (далее - Услуги), поименованные в Перечне услуг Исполнителя (Прейскуранте) опубликованном на интернет-сайте Исполнителя &laquo;http://box-fun.ru/&raquo;, а Заказчик обязуется принять и оплатить эти услуги.<br />
                        2.2. Перечень услуг Исполнителя (Прейскурант), опубликованный на интернет-сайте Исполнителя &laquo;http://box-fun.ru//&raquo; является неотъемлемой частью настоящего Договора.&nbsp;</p>

                    <h3>3. Оформление Заказа</h3>

                    <p>3.1. Заказ услуг Исполнителя осуществляется Заказчиком через Интернет-сайт <a href="http://box-fun.ru/">http://box-fun.ru/</a>.<br />
                        3.2. При оформлении заявки на интернет-сайте Исполнителя Заказчик обязуется предоставить следующую регистрационную информацию о себе: фамилия, имя, отчество; фактический адрес оказания услуг; адрес электронной почты; контактный телефон (мобильный, стационарный).<br />
                        3.3. При оформлении Заказа через Оператора Заказчик обязуется предоставить информацию, указанную в п. 3.2. настоящего Договора. Заказчик имеет право редактировать регистрационную информацию о себе. Оператор не изменяет и не редактирует регистрационную информацию о Заказчике без согласия последнего. Исполнитель обязуется не сообщать данные Заказчика, указанные при регистрации на сайте <a href="http://box-fun.ru/">http://box-fun.ru/</a> и при оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа. Утвердив Заказ выбранных услуг, Заказчик предоставляет Оператору необходимую информацию в соответствии с порядком, указанном в п. 3.2. настоящего Договора.<br />
                        3.4. Исполнитель и Оператор не несут ответственности за содержание и достоверность информации, предоставленной Заказчиком при оформлении Заказа.<br />
                        3.5. Заказчик несёт ответственность за достоверность предоставленной информации при оформлении Заказа.<br />
                        3.6. Все информационные материалы, представленные на сайте <a href="http://box-fun.ru/">http://box-fun.ru/</a>, носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках услуг Исполнителя. В случае возникновения у Заказчика вопросов, касающихся свойств и характеристик услуг, перед оформлением Заказа ему необходимо обратиться за консультацией к Оператору (Исполнителю).&nbsp;</p>

                    <h3>4. Сроки исполнения Заказа</h3>

                    <p>4.1. После получения Исполнителем заявки от Заказчика на оказание услуг, Исполнитель и Заказчик согласовывают дату и время оказания услуг.<br />
                        4.2. Заказ считается выполненным, а услуга оказанной после оказания сотрудниками исполнителя услуг, указанных Заказчиком при оформлении заявки. Подписывая Акт оказанных услуг, Заказчик подтверждает исполнение Заказа.<br />
                        4.3. В случае предоставления Заказчиком недостоверной информации его контактных данных Исполнитель за ненадлежащее исполнение Заказа ответственности не несет.&nbsp;</p>

                    <h3>5. Оплата Заказа</h3>

                    <p>5.1. Оплата Заказа осуществляется путем безналичной оплаты Заказчиком услуг Исполнителя по реквизитам, указанным на сайте Исполнителя, либо путем передачи Заказчиком денежных средств сотруднику Исполнителя по месту оказания услуг.<br />
                        5.2. Цены на любые услуги Исполнителя, указанные на интернет-сайте &laquo;<a href="http://box-fun.ru/">http://box-fun.ru/</a>&raquo;, могут быть изменены Исполнителем в одностороннем порядке без уведомления Заказчика. В случае изменения цены на заказанные услуги, Оператор обязуется в кратчайшие сроки проинформировать Заказчика о таком изменении. Заказчик вправе подтвердить либо аннулировать Заказ. В случае отсутствия связи с Заказчиком Заказ считается аннулированным в течение 14 календарных дней с момента оформления.<br />
                        5.3.Денежные средства принимаются двумя способами: наличными, безналичным платежом&nbsp;</p>

                    <p>6. Аннулирование Заказа</p>

                    <p>6.1. В соответствии со ст. 32 Закона РФ № 2300-1 &laquo;О Защите прав потребителей&raquo;, Заказчик вправе отказаться от выполнения настоящего Договора в любое время при условии Исполнителю фактически понесенным Исполнителем расходов, связанных с исполнением расходов по настоящему Договору.<br />
                        6.2. Отказ Заказчика от оказания услуг Исполнителя производится на основании письменного обращения Заказчика, предоставляемого в офис Исполнителя.<br />
                        6.3. Для возврата денежных средств на банковскую карту Заказчику необходимо заполнить &laquo;Заявление о возврате денежных средств&raquo;, которое высылается по требованию Заказчика на электронный адрес Исполнителя, и отправить его вместе с приложением копии паспорта по адресу: <a href="mailto:info@box-fun.ru">info@box-fun.ru</a> . Возврат денежных средств будет осуществлен на банковский счет Заказчика, указанный в заявлении, в течение 10 (Десяти) рабочих дней со дня получения &laquo;Заявление о возврате денежных средств&raquo; Исполнителем. Для возврата денежных средств, зачисленных на расчетный счет Исполнителя ошибочно, посредством платежных систем, Заказчик должен обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное зачисление. Данное заявление необходимо направить по электронному адресу: <a href="mailto:info@box-fun.ru">info@box-fun.ru</a> После получения заявления с приложением копии паспорта и чеков/квитанций, Исполнитель производит возврат в срок до 10 (десяти) рабочих дней со дня получения 3аявления на расчетный счет Заказчика, указанный в заявлении. В этом случае, сумма возврата будет равняться стоимости Заказа. Срок рассмотрения Заявления и возврата денежных средств Заказчику начинает исчисляться с момента получения Исполнителем Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней. Если заявление поступило Исполнителя после 18.00 рабочего дня или в праздничный/выходной день, моментом получения Исполнителем Заявления считается следующий рабочий день.&nbsp;</p>

                    <h3>7. Права на объекты интеллектуальной собственности</h3>

                    <p>7.1. Права на текстовую информация, графические изображения и иные объекты интеллектуальной собственности, размещенные на интернет-сайте<a href="http://http://box-fun.ru/"> http://box-fun.ru/</a>, являются собственностью Исполнителя и/или его партнеров. Указанные материалы не могут быть использованы Заказчиком и иными третьими лицами без согласия правообладателей.&nbsp;</p>

                    <h3>8. Права, обязанности и ответственность</h3>

                    <p>8.1. Исполнитель вправе передавать свои права и обязанности по исполнению Заказов третьим лицам без согласия Заказчика.<br />
                        8.2. Исполнитель имеет право на осуществление записи телефонных переговоров с Заказчиком. В соответствии с п. 4 ст. 16 Федерального закона &laquo;Об информации, информационных технологиях и о защите информации&raquo; Исполнитель обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать такие факты. Телефонные разговоры записываются в целях осуществления контроля деятельности Оператора и контроля качества исполнения Заказов.<br />
                        8.3. Все претензии по ненадлежащему исполнению заказа Заказчик вправе направить на адрес электронной почты, указанный на интернет-сайте http://box-fun.ru. Вся поступившая информация обрабатывается в кратчайшие сроки.</p>


                    © DIRIT веб-технологии 2010-2015 | Создание и сопровождение веб-сайтов
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# Контакты #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-contact">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i
                            class="fa fa-close"></i></button>
                    <h2 class="modal_title">Контакты</h2>

                </div>
                <div class="modal-body">
                     <a href="mailto:info@box-fun.ru">info@box-fun.ru</a><br />
                    Агуреев Олег<br />
                    Сираев Руслан&nbsp;<br />
                    ООО &laquo;Онза.Ме&raquo;<br />
                    Юридический адрес Нахимовский проспект 52/27 пом Б<br />
                    Фактический адрес Ул.Грина д.1 к.8 кв.218<br />
                    Телефон/факс 8 (985) 211-48-28<br />
                    Адрес электронной почты <a href="mailto:boxfun.ru@gmail.com">boxfun.ru@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Для отзывов #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-review">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="fa fa-close"></i>
                </button>
                <h2 class="modal_title">Оставить отзыв</h2>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="review_form" name="form_type">
                    <div class="cont">
                        <div class="fio">
                            {{ review_form.name }}
                        </div>
                        <div class="telephone">
                            {{ review_form.contacts }}
                        </div>
                    </div>
                    <div class="cont">
                        {{ review_form.text }}
                    </div>
                    <div class="more_info">
                        <div class="button">
                            <button data-toggle="modal" data-target=".bs-example-modal-review" type="submit"
                                    class="btn btn-primary fun_button send_button">Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Задать вопрос #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-question">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="fa fa-close"></i>
                </button>
                <h2 class="modal_title">Задать вопрос менеджеру</h2>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="question_form" name="form_type">
                    <div class="cont">
                        <div class="fio">
                            {{ question_form.name }}
                        </div>
                        <div class="telephone">
                            {{ question_form.contacts }}
                        </div>
                    </div>
                    <div class="cont">
                        {{ question_form.text }}
                    </div>
                    <div class="more_info">
                        <div class="button">
                            <button data-toggle="modal" data-target=".bs-example-modal-question" type="submit"
                                    class="btn btn-primary fun_button send_button">Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Для заказа обратного звонка #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-phone">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    <i class="fa fa-close"></i>
                </button>
                <h2 class="modal_title">Заказать обратный звонок</h2>
                <h4 class="modal_title_small">Введите свое имя и телефон, мы Вам перезвоним</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="back_call_form" name="form_type">
                    <div class="cont">
                        <div class="fio">
                            {{ back_call_form.name }}
                        </div>
                        <div class="telephone">
                            {{ back_call_form.phone }}
                        </div>
                    </div>
                    <div class="more_info">
                        <div class="button">
                            <button data-toggle="modal" data-target=".bs-example-modal-phone" type="submit"
                                    class="btn btn-primary fun_button send_button">
                                Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Для заказа сертификата #}
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     class="modal fade bs-example-modal-ser">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="fa fa-close"></i>
                </button>
                <h2 class="modal_title">Заказать сертификат</h2>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="certificate_form" name="form_type">
                    <div class="cont">
                        <div class="fio">
                            {{ certificate_form.name }}
                        </div>
                        <div class="telephone">
                            {{ certificate_form.contacts }}
                        </div>
                    </div>
                    <div class="more_info">
                        <div class="button">
                            <button data-toggle="modal" data-target=".bs-example-modal-ser" type="submit"
                                    class="btn btn-primary fun_button send_button">Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('.phone').keypress(function(key){
            var $this = $(this);
            var kc = key.keyCode;
            if($this.val().length > 11 || ((kc != 43) && !(kc >= 48 && kc <= 57))){
                return false;
            }
        });
    })
</script>
<script>
    $(document).ready(function(){
        var $order_form = $('#order_form');
        var $wallet_one_form = $('#wallet_one_form');

        function get_data(){
            var data = $order_form.serialize() + '&ajax=true';
            data += '&id=' + $wallet_one_form.find('input[name=WMI_PAYMENT_NO]').val();
            data += '&csrfmiddlewaretoken=' + $wallet_one_form.find('input[name=csrfmiddlewaretoken]').val();
            console.log(data);
            return data
        }

        function success(response){
            console.log(response);
            response = response.split(':');
            $wallet_one_form.find('input[name=WMI_PAYMENT_NO]').val(response[0]);
            $wallet_one_form.find('input[name=WMI_PAYMENT_AMOUNT]').val(response[1]);
            $wallet_one_form.find('input[name=WMI_SIGNATURE]').val(response[2]);
        }

        function click(){
            var $input = $order_form.find('input[name=order_type]');
            $input.val($(this).attr('id'));
            var data = get_data();
            data += '&payment_status=0';

            if($input.val() == 0){
                $('#order_title').html('3 месяца');
            }else if($input.val() == 1){
                $('#order_title').html('6 месяцев');
            }else{
                $('#order_title').html('12 месяцев');
            }

            $.ajax({
                type: "POST",
                url: window.document.location.href,
                data: data,
                success: success
            });
        }

        function change(){
            var data = get_data();
            data += '&payment_status=0';

            $.ajax({
                type: "POST",
                url: window.document.location.href,
                data: data,
                success: success
            });
        }

        function submit(){
            var data = get_data();
            data += '&payment_status=1';

            $.ajax({
                type: "POST",
                url: window.document.location.href,
                data: data,
                success: function(response){
                    success(response);
                    $wallet_one_form.submit();
                }
            });
            return false;
        }

        $order_form.find('.theme-checkbox').each(function(){
            var $this = $(this);
            $this.insertBefore($this.parent());
        });

        $('.send_button').on('click', function(){
            var r = true;
            var $form = $(this).parents('form');
            $form.find('input, textarea').each(function(){
                if($(this).val() == ''){
                    r = false;
                }
            });
            if(r === false && $form.find('.warning').length == 0){
                $(this).parents('.more_info').prepend(
                    $('<span style="color: red" class="warning">Заполните все поля</span>')
                );
            }
            return r;
        });

        $('.order_send_button').on('click', function(){
            var r = true;
            var $form = $(this).parents('form');
            $form.find('input, textarea').each(function(){
                if($(this).val() == ''){
                    r = false;
                }
            });
            if(r === false){
                if($form.find('.warning').length == 0){
                    $(this).parents('.more_info').prepend(
                        $('<span style="color: red" class="warning">Заполните все поля</span>')
                    );
                }
            }else{
                $('.modal-backdrop').remove();
                $('.modal').removeClass('in');
                $('body').removeAttr('style');
                $('.bs-example-modal-lg').hide();
            }
            return r;
        });

        $('.order_button').on('click', click); // Пользователь нажал на кнопку заказать
        $order_form.find('input,select,checkbox').on('change', change); // Пользователь изменил данные
        $order_form.submit(submit); // Пользователь нажал кнопку оплатить
    });
</script>
<script>
    $(document).ready(function () {
        $('.key input').click(function () {
            var $this = $(this);
            var t = $this.prop("checked");

            var $order_form = $('#order_form');
            $order_form.find('input[name=costume]').val(t);

            if (t == true) {
                $this.parents('.switch').find('.t-shirt span').removeClass('black_text').addClass('grey_text');
                $this.parents('.switch').find('.sweatshirt span').removeClass('grey_text').addClass('black_text');
                $this.parents('.switch').find('.img_wrapper_t-shirt').css('background-position', '0 100%');
                $this.parents('.switch').find('.img_wrapper_sweatshirt').css('background-position', '32% 0%');
                $this.parents('.switch').find('.img_wrapper_man').css('background-position', '100% 100%');
                $this.parents('.switch').find('.img_wrapper_woman').css('background-position', '68% 0%');
                $this.parents('.item').find('.img_t-shirt').css('display', 'none');
                $this.parents('.item').find('.img_sweatshirt').css('display', 'block');
                $this.parents('.item').find('.sum_t-shirt').css('display', 'none');
                $this.parents('.item').find('.sum_sweatshirt').css('display', 'block');
            }
            if (t == false) {
                $this.parents('.switch').find('.t-shirt span').removeClass('grey_text').addClass('black_text');
                $this.parents('.switch').find('.sweatshirt span').removeClass('black_text').addClass('grey_text');
                $this.parents('.switch').find('.img_wrapper_t-shirt').css('background-position', '0 0');
                $this.parents('.switch').find('.img_wrapper_sweatshirt').css('background-position', '32% 100%');
                $this.parents('.switch').find('.img_wrapper_man').css('background-position', '100% 0%');
                $this.parents('.switch').find('.img_wrapper_woman').css('background-position', '68% 100%');
                $this.parents('.item').find('.img_t-shirt').css('display', 'block');
                $this.parents('.item').find('.img_sweatshirt').css('display', 'none');
                $this.parents('.item').find('.sum_t-shirt').css('display', 'block');
                $this.parents('.item').find('.sum_sweatshirt').css('display', 'none');

            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('a[href^="#"]').bind('click.smoothscroll', function (e) {
            e.preventDefault();

            var target = this.hash,
                    $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });

    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70453777-1', 'auto');
    ga('send', 'pageview');
</script>
</html>